<div ng-controller="SpotVizController">

	<div class="row">
		<div class="col-md-3 form-group">
			<form>
				<div class="row">
					<div class="col-md-3">
						<label for="callsign">Callsign</label>
					</div>
					<div class="col-md-8">
						<input id="callsign" class="form-control" type="text"
							ng-model="callsign" ng-blur="retrieveSpotSummaryForCallsign()" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label for="fromDate">Staring from date/time:</label>
					</div>
					<div class="col-md-8">
						<input id="fromDate" class="form-control" ng-model="fromDate"
							ui-date-format="yy'-'mm'-'dd" ui-date="fromDateOptions" />
						<timepicker ng-model="fromTime" minute-step="minuteStep"></timepicker>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label for="toDate">Ending at date:</label>
					</div>
					<div class="col-md-8">
						<input id="toDate" class="form-control" ng-model="toDate"
							ui-date-format="yy'-'mm'-'dd" ui-date="toDateOptions" />
						<timepicker ng-model="toTime" minute-step="minuteStep"></timepicker>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<button class="btn btn-default btn-primary" ng-click="retrieve()">Show
							data</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-9">

			<div class="row">
				<div class="col-md-9">
					<alert ng-show="msg">{{msg}}</alert>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<alert ng-show="errorMsg">{{errorMsg}}</alert>
				</div>
			</div>
			<div class="row" ng-show="numberOfSpots > 0">
				<div class="col-md-offset-2 col-md-3">
					<p>Spots by callsign [{{callsign}}] in database:
						{{numberOfSpots}}</p>
				</div>
				<div class="col-md-3">
					<p>Earliest recorded spot: {{dateFirstSpot}}</p>
				</div>
				<div class="col-md-3">
					<p>Most recent recorded spot: {{dateLastSpot}}</p>
				</div>

			</div>

<!-- TODO: move date controller code up into main controller -->
			<div class="row" ng-if="showMapControls">
				<div ng-include src="'mapviz/historyPlaybackControls.html'"></div>
				<map center="37.7699298, -122.4469157" zoom="10">
					<marker ng-repeat="pos in positions" position="{{pos.lat}}, {{pos.lng}}"></marker>
      			</map>

			</div>

		</div>
	</div>
</div>