<div ng-controller="SpotVizController">

	<div class="row">
		<div class="col-md-3 form-group" >
			<form>
				<div class="row">
					<div class="col-md-3">
						<label for="callsign">Callsign</label>
					</div>
					<div class="col-md-8">
						<input id="callsign" class="form-control" type="text" 
						ng-model="callsign" ng-blur="retrieveSpotSummaryForCallsign()"/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label for="fromDate">Staring from date/time:</label>
					</div>
					<div class="col-md-8">
						<input id="fromDate" class="form-control" ng-model="fromDate" ui-date-format="yy/mm/dd"
							ui-date />
                                                <timepicker ng-model="fromTime" minute-step="minuteStep"></timepicker>

					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label for="toDate">Ending at date:</label>
					</div>
					<div class="col-md-8">
						<input id="toDate" class="form-control" ng-model="toDate" ui-date-format="yy/mm/dd"
							ui-date />
                                                <timepicker ng-model="toTime" minute-step="minuteStep"></timepicker>
                                        </div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<button class="btn btn-default btn-primary" ng-click="retrieve()">Show
							data</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-9">
			<div class="row">
				
				<p>{{debugMsg}}</p>

				<ul>
					<li ng-repeat="spot in spots"><span>{{spot.spotter}} :
							{{spot.word1}} {{spot.word2}} {{spot.word3}}
							{{spot.spotDetail.errorMessage}} {{spot.spotDetail.longitude}}
							{{spot.spotDetail.longitude}}</span></li>
				</ul>
			</div>
			
			<div class="row">
				<div class="col-md-9"><alert ng-show="msg">{{msg}}</alert></div>
			</div>
			
			<div class="row" ng-show="numberOfSpots > 0">
				<div class="col-md-offset-2 col-md-3">
				<p>Spots by callsign [{{callsign}}] in database: {{numberOfSpots}}</p>
				</div>
				<div class="col-md-3">
					<p>Earliest recorded spot: {{dateFirstSpot}}</p>
				</div>
				<div class="col-md-3">
					<p>Most recent recorded spot: {{dateLastSpot}}</p>
				</div>
			
			</div>
			
			<div class="row" ng-if="showMap">
				<div ng-include src="'mapviz/dateControls.html'"></div>
				<div class="angular-google-map-container">
					<ui-gmap-google-map center='map.center' zoom='map.zoom' refresh="showMap">
						<ui-gmap-markers models="markers" coords="'self'" icon="'icon'"/>
					</ui-gmap-google-map>
				</div>
			</div>
			
		</div>
	</div>
</div>