<script type="text/ng-template" id="perDateStatsTemplate">
    <h1>Spot Data for day {{ search.heatmap.clickedDateFormatted }}</h1>
	<p>Clicked ts: {{ search.heatmap.clickedDate }}</p>
    <p>First spot received at: {{ search.heatmap.rawdata[search.heatmap.clickedDate/1000].firstSpot.$date }}</p>
    <p>Last spot received at: {{ search.heatmap.rawdata[search.heatmap.clickedDate/1000].lastSpot.$date }}</p>
	<p>Spot count total for day: {{ search.heatmap.rawdata[search.heatmap.clickedDate/1000].count }}
</script>

<div class="row">

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h3>Select Date Range for Visualization Playback</h3>
                <p>Next, select a start and end date/time between which you want to playback
                    the visualization of the available received data. The panel below shows the range
                    between which there is available data ready to visualize:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default fadeInHideShow"
                     ng-show="search.numberOfSpots > 0">
                    <div class="panel-heading">
                        <h3 class="panel-title">Available data for callsign:
                            {{search.callsign}}</h3>
                    </div>
                    <div class="panel-body">

                        <p>Spots by callsign [{{search.callsign}}] in database:
                            {{search.numberOfSpots}}</p>
                        <p>Earliest recorded spot: {{search.formattedFromDate}} UTC</p>
                        <p>Most recent recorded spot: {{search.formattedEndDate}} UTC</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6" style="padding-top: 90px;">

        <div class="row">
            <div class="col-md-3">
                <label for="fromDate">Staring from date/time:</label>
            </div>
            <div class="col-md-8">
                <input id="fromDate" class="form-control" ng-model="search.fromDate"
                       ui-date-format="yy'-'mm'-'dd" ui-date="search.fromDateOptions"
                       popover="Select a start date and time from which to start visualizing your reception data.
                       {{search.popoverTextWhenDataAvailable}}"
                       popover-trigger="focus" />
                <timepicker ng-model="search.fromTime" minute-step="search.minuteStep"></timepicker>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="toDate">Ending at date:</label>
            </div>
            <div class="col-md-8">
                <input id="toDate" class="form-control" ng-model="search.toDate"
                       ui-date-format="yy'-'mm'-'dd" ui-date="search.toDateOptions"
                       popover="End date/time for received spots" popover-placement="left"
                       popover-trigger="focus" />
                <timepicker ng-model="search.toTime" minute-step="search.minuteStep"></timepicker>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-primary" ng-click="retrieve()">Retrieve
                    data</button>
            </div>
        </div>
    </div>
</div>

<!--  cal-heatmap -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default fadeInHideShow"
            ng-show="search.showDataDensity">
            <div class="panel-heading">
                <h3 class="panel-title">Distribution of data for selected date range</h3>
            </div>
            <div class="row" ng-show="search.showDataDensity">
    			<div class="col-md-12">
        			<cal-heatmap ng-if="search.showDataDensity" config="search.heatmap.config" 
        				ng-click="showStatsForDate($event)"></cal-heatmap>        
    			</div>
			</div>
            <div class="panel-body">
                <p>(TODO: in progress) This chart shows the availability of the uploaded data between your chosen dates. Darker colors indicate
                    where there is more data available to visualize. If there are many periods with no data available it
                    may be more interesting to select a different date range that covers where you have consecutive
                    periods of data to visualize</p>
                
                <p>You can either change your selected date range using the above form to select
                a range than contains a greater density of spots to be visualized, or
                <button class="btn btn-primary" ng-click="navigateToPlayback()">Continue to Visualization Playback</button></p>
            </div>
        </div>
    </div>
</div>