<div class="row">

	<div class="col-md-6">
		<h3>Select Date Range for Visualization Playback</h3>
		<p>Next, select a start and end date/time between which you want to playback
                the visualization of the available received data. The panel below shows the range
                between which there is available data ready to visualize:</p>
	</div>

	<div class="col-md-6" style="padding-top: 90px;">

		<div class="row">
			<div class="col-md-3">
				<label for="fromDate">Staring from date/time:</label>
			</div>
			<div class="col-md-8">
				<input id="fromDate" class="form-control" ng-model="search.fromDate"
					ui-date-format="yy'-'mm'-'dd" ui-date="search.fromDateOptions"
					popover="Select a start date and time from which to start visualizing your reception data.
                   {{search.popoverTextWhenDataAvailable}}"
					popover-trigger="focus" />
				<timepicker ng-model="search.fromTime" minute-step="search.minuteStep"></timepicker>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<label for="toDate">Ending at date:</label>
			</div>
			<div class="col-md-8">
				<input id="toDate" class="form-control" ng-model="search.toDate"
					ui-date-format="yy'-'mm'-'dd" ui-date="search.toDateOptions"
					popover="End date/time for received spots" popover-placement="left"
					popover-trigger="focus" />
				<timepicker ng-model="search.toTime" minute-step="search.minuteStep"></timepicker>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<button class="btn btn-default btn-primary" ng-click="retrieve()">Retrieve
					data</button>
			</div>
		</div>
	</div>
</div>