<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.ogm.infinispan" slot="main">
    <resources>
        <resource-root path="hibernate-ogm-infinispan-4.1.0.Final.jar" />
    </resources>
    <dependencies>
        <module name="org.hibernate" export="true" services="import" slot="ogm" />
        <module name="org.hibernate.hql" slot="1.1.0.Final" />

        <module name="org.infinispan" optional="true" slot="ispn-7.0" />
        <module name="org.infinispan.commons" optional="true" slot="ispn-7.0" />
        <module name="javax.api" />
        <module name="javax.persistence.api" />
        <module name="javax.transaction.api" />
        <module name="org.jboss.logging" />
    </dependencies>
</module>
